In [2]:
print('hello world')

hello world

In [1]:
x = int(input('number: '))

print()

4

In [3]:
print('hi world')

hi world

In [6]:
type(3.4)

float

In [ ]:
x = 12
if x > 4:
    print

In [15]:
student_list = ['ugo', 'ogami', 'decan']


student_list.reverse()

for student in student_list:
    print(student)

decan
ogami
ugo

In [2]:
x = 3
y = 4
print(x+y)

7

In [9]:
# Futo grading system for gly415

students_scores = [80, 20, 27, 90, 60, 56, 79, 59, 69]
students_scores.sort()
students_scores.reverse()

for score in students_scores:
    if score >= 70:
        print(score, '= A')
    elif score <= 69 and score >= 60:
        print(score, '= B')
    elif score <= 59 and score >= 50:
        print(score, '= C')
    elif score <= 49 and score >= 45:
        print(score, '= D')
    else:
        print(score, '= F')

90 = A
80 = A
79 = A
69 = B
60 = B
59 = C
56 = C
27 = F
20 = F

In [12]:
# User input

score = int(input('enter your score'))

if score >= 70:
    print(score, '= A')
elif score <= 69 and score >= 60:
    print(score, '= B')
elif score <= 59 and score >= 50:
    print(score, '= C')
elif score <= 49 and score >= 45:
    print(score, '= D')
else:
    print(score, '= F')

enter your score80
80 = A

In [20]:
# 3. While Statement

#numOfItems = int(input('how many items did you purchase: '))

stop_time = 12
counter = 1
while counter <= stop_time:
    print('ID Number')
    counter = counter + 1

ID Number
ID Number
ID Number
ID Number
ID Number
ID Number
ID Number
ID Number
ID Number
ID Number
ID Number
ID Number

In [23]:
# Program To Add Natural
# Numbers Up To
# Sum = 1+2+3+...+n

#num = int(input('enter N: '))

num = 12
counter = 1
sums = 0

while counter <= num:
    sums = sums + counter
    counter = counter + 1
    
print(sums)

78

In [22]:
num = int(input('Enter N: '))
counter = 1
sums = 0

while counter <= num:
    sums = sums + counter
    counter = counter +
    1
    
print(sums)

Enter N: 400
80200

# Some built in functions

In [24]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [25]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [26]:
import numpy as np

arr = np.array([-2, -4, -5])

abs(arr)

array([2, 4, 5])

In [30]:
import math

math.sqrt(9)

3.0

In [31]:
import math

math.log(56, 7)

2.0686215613240666

In [33]:
help('def')

Function definitions
********************

A function definition defines a user-defined function object (see
section The standard type hierarchy):

   funcdef                   ::= [decorators] "def" funcname "(" [parameter_list] ")"
               ["->" expression] ":" suite
   decorators                ::= decorator+
   decorator                 ::= "@" assignment_expression NEWLINE
   parameter_list            ::= defparameter ("," defparameter)* "," "/" ["," [parameter_list_no_posonly]]
                        | parameter_list_no_posonly
   parameter_list_no_posonly ::= defparameter ("," defparameter)* ["," [parameter_list_starargs]]
                                 | parameter_list_starargs
   parameter_list_starargs   ::= "*" [parameter] ("," defparameter)* ["," ["**" parameter [","]]]
                               | "**" parameter [","]
   parameter                 ::= identifier [":" expression]
   defparameter              ::= parameter ["=" expression]
   funcname                  ::= identifier

A function definition is an executable statement.  Its execution binds
the function name in the current local namespace to a function object
(a wrapper around the executable code for the function).  This
function object contains a reference to the current global namespace
as the global namespace to be used when the function is called.

The function definition does not execute the function body; this gets
executed only when the function is called. [4]

A function definition may be wrapped by one or more *decorator*
expressions. Decorator expressions are evaluated when the function is
defined, in the scope that contains the function definition.  The
result must be a callable, which is invoked with the function object
as the only argument. The returned value is bound to the function name
instead of the function object.  Multiple decorators are applied in
nested fashion. For example, the following code

   @f1(arg)
   @f2
   def func(): pass

is roughly equivalent to

   def func(): pass
   func = f1(arg)(f2(func))

except that the original function is not temporarily bound to the name
"func".

Changed in version 3.9: Functions may be decorated with any valid
"assignment_expression". Previously, the grammar was much more
restrictive; see **PEP 614** for details.

When one or more *parameters* have the form *parameter* "="
*expression*, the function is said to have “default parameter values.”
For a parameter with a default value, the corresponding *argument* may
be omitted from a call, in which case the parameter’s default value is
substituted.  If a parameter has a default value, all following
parameters up until the “"*"” must also have a default value — this is
a syntactic restriction that is not expressed by the grammar.

**Default parameter values are evaluated from left to right when the
function definition is executed.** This means that the expression is
evaluated once, when the function is defined, and that the same “pre-
computed” value is used for each call.  This is especially important
to understand when a default parameter value is a mutable object, such
as a list or a dictionary: if the function modifies the object (e.g.
by appending an item to a list), the default parameter value is in
effect modified.  This is generally not what was intended.  A way
around this is to use "None" as the default, and explicitly test for
it in the body of the function, e.g.:

   def whats_on_the_telly(penguin=None):
       if penguin is None:
           penguin = []
       penguin.append("property of the zoo")
       return penguin

Function call semantics are described in more detail in section Calls.
A function call always assigns values to all parameters mentioned in
the parameter list, either from positional arguments, from keyword
arguments, or from default values.  If the form “"*identifier"” is
present, it is initialized to a tuple receiving any excess positional
parameters, defaulting to the empty tuple. If the form
“"**identifier"” is present, it is initialized to a new ordered
mapping receiving any excess keyword arguments, defaulting to a new
empty mapping of the same type.  Parameters after “"*"” or
“"*identifier"” are keyword-only parameters and may only be passed by
keyword arguments.  Parameters before “"/"” are positional-only
parameters and may only be passed by positional arguments.

Changed in version 3.8: The "/" function parameter syntax may be used
to indicate positional-only parameters. See **PEP 570** for details.

Parameters may have an *annotation* of the form “": expression"”
following the parameter name.  Any parameter may have an annotation,
even those of the form "*identifier" or "**identifier".  Functions may
have “return” annotation of the form “"-> expression"” after the
parameter list.  These annotations can be any valid Python expression.
The presence of annotations does not change the semantics of a
function.  The annotation values are available as values of a
dictionary keyed by the parameters’ names in the "__annotations__"
attribute of the function object.  If the "annotations" import from
"__future__" is used, annotations are preserved as strings at runtime
which enables postponed evaluation.  Otherwise, they are evaluated
when the function definition is executed.  In this case annotations
may be evaluated in a different order than they appear in the source
code.

It is also possible to create anonymous functions (functions not bound
to a name), for immediate use in expressions.  This uses lambda
expressions, described in section Lambdas.  Note that the lambda
expression is merely a shorthand for a simplified function definition;
a function defined in a “"def"” statement can be passed around or
assigned to another name just like a function defined by a lambda
expression.  The “"def"” form is actually more powerful since it
allows the execution of multiple statements and annotations.

**Programmer’s note:** Functions are first-class objects.  A “"def"”
statement executed inside a function definition defines a local
function that can be returned or passed around.  Free variables used
in the nested function can access the local variables of the function
containing the def.  See section Naming and binding for details.

See also:

  **PEP 3107** - Function Annotations
     The original specification for function annotations.

  **PEP 484** - Type Hints
     Definition of a standard meaning for annotations: type hints.

  **PEP 526** - Syntax for Variable Annotations
     Ability to type hint variable declarations, including class
     variables and instance variables

  **PEP 563** - Postponed Evaluation of Annotations
     Support for forward references within annotations by preserving
     annotations in a string form at runtime instead of eager
     evaluation.

In [43]:
def absolute_values(val):
    """This function returns abs of the entered value"""
    return abs(val)

abs_list = list(map(absolute_values, [-2, -4, -5]))

In [44]:
abs_list

[2, 4, 5]

In [45]:
# range function
# get list of even numbers based on a given range

even_list = []
odd_list = []

for x in range(1, 31):
    if x % 2 == 0:
        even_list.append(x)
    else:
        odd_list.append(x)

In [46]:
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [47]:
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [48]:
sum([1, 4, 6, 8])

19

## Python Self Defined Functions

### Keywords In Python

In [49]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [50]:
k = 1
val = 10
while k <= val: # base case
    print('good')
    
    k = k + 1 # recursive case

good
good
good
good
good
good
good
good
good
good

In [51]:
def add_numbers(*numbers): # unlimited number of args
    sums = sum(numbers)
    return sums

In [53]:
add_numbers(33, 785, 886, 934)

2638

# pandas

In [4]:
import numpy as np
import pandas as pd

In [5]:
data_df = pd.read_csv("CleanedUpCoreData.csv")

In [6]:
data_df

      Depth  CorrectedPorosity   TOC  Quartz  Calcite
0    6432.5               6.67  4.15    38.6      0.0
1    6434.5               6.07  4.25    48.6      6.2
2    6436.5               4.91  3.40    41.0      2.5
3    6438.5               6.00  0.39     4.6     66.4
4    6440.6               5.63  3.90    37.0      0.6
..      ...                ...   ...     ...      ...
162  6773.9               3.77  2.06    26.7     15.4
163  6775.1               4.60  3.52    31.0      0.0
164  6780.6               4.16  2.47    16.0      8.7
165  6782.2               2.49  2.32    24.8     19.8
166  6784.3               2.99  3.66    20.2     11.9

[167 rows x 5 columns]

In [8]:
data_df.head()

    Depth  CorrectedPorosity   TOC  Quartz  Calcite
0  6432.5               6.67  4.15    38.6      0.0
1  6434.5               6.07  4.25    48.6      6.2
2  6436.5               4.91  3.40    41.0      2.5
3  6438.5               6.00  0.39     4.6     66.4
4  6440.6               5.63  3.90    37.0      0.6

In [9]:
data_df.tail()

      Depth  CorrectedPorosity   TOC  Quartz  Calcite
162  6773.9               3.77  2.06    26.7     15.4
163  6775.1               4.60  3.52    31.0      0.0
164  6780.6               4.16  2.47    16.0      8.7
165  6782.2               2.49  2.32    24.8     19.8
166  6784.3               2.99  3.66    20.2     11.9

In [20]:
data_df.shape

(167, 5)

In [21]:
data_df.shape[1]

5

In [22]:
data_df.shape[0]

167

In [25]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Depth              167 non-null    float64
 1   CorrectedPorosity  167 non-null    float64
 2   TOC                167 non-null    float64
 3   Quartz             167 non-null    float64
 4   Calcite            167 non-null    float64
dtypes: float64(5)
memory usage: 6.6 KB

In [26]:
df = data_df.copy()

In [27]:
df

      Depth  CorrectedPorosity   TOC  Quartz  Calcite
0    6432.5               6.67  4.15    38.6      0.0
1    6434.5               6.07  4.25    48.6      6.2
2    6436.5               4.91  3.40    41.0      2.5
3    6438.5               6.00  0.39     4.6     66.4
4    6440.6               5.63  3.90    37.0      0.6
..      ...                ...   ...     ...      ...
162  6773.9               3.77  2.06    26.7     15.4
163  6775.1               4.60  3.52    31.0      0.0
164  6780.6               4.16  2.47    16.0      8.7
165  6782.2               2.49  2.32    24.8     19.8
166  6784.3               2.99  3.66    20.2     11.9

[167 rows x 5 columns]

In [28]:
df.columns

Index(['Depth', 'CorrectedPorosity', 'TOC', 'Quartz', 'Calcite'], dtype='object')

In [31]:
sorted_porosity = df.sort_values(by='CorrectedPorosity', ascending=True)

In [32]:
sorted_porosity.head()

      Depth  CorrectedPorosity   TOC  Quartz  Calcite
6    6444.5               0.88  3.50    29.3      5.5
152  6745.9               1.35  1.70     6.4     67.0
132  6700.0               1.41  0.72     5.2     75.7
78   6585.3               1.41  4.91    25.5      2.9
54   6540.0               1.47  1.24    14.4     28.5

In [ ]:
sorted_porosity = df.sort_values(by='CorrectedPorosity', ascending=False)

In [33]:
sorted_porosity.head()

      Depth  CorrectedPorosity   TOC  Quartz  Calcite
6    6444.5               0.88  3.50    29.3      5.5
152  6745.9               1.35  1.70     6.4     67.0
132  6700.0               1.41  0.72     5.2     75.7
78   6585.3               1.41  4.91    25.5      2.9
54   6540.0               1.47  1.24    14.4     28.5

In [ ]:
sorted_porosity = df.sort_values(by='CorrectedPorosity', ascending=False)

In [34]:
sorted_porosity.tail()

       Depth  CorrectedPorosity   TOC  Quartz  Calcite
85   6598.10               6.71  4.11    51.4      0.0
57   6544.10               6.86  4.42    54.7      0.0
84   6596.05               7.02  3.38    38.0      0.0
56   6543.00               7.11  3.91    59.4      0.0
105  6641.70               8.05  3.48    26.5      0.0

In [35]:
df.describe()

             Depth  CorrectedPorosity         TOC      Quartz     Calcite
count   167.000000         167.000000  167.000000  167.000000  167.000000
mean   6599.828144           4.262934    3.770778   27.963473   12.122156
std      99.953163           1.349560    1.625806   13.875863   19.819573
min    6432.500000           0.880000    0.390000    0.000000    0.000000
25%    6516.150000           3.405000    2.680000   17.450000    0.000000
50%    6594.600000           4.390000    3.900000   29.700000    2.400000
75%    6683.000000           5.205000    4.915000   38.300000   12.700000
max    6784.300000           8.050000    7.480000   59.400000   78.600000

In [39]:
df.TOC.min()

0.39

In [40]:
df.TOC.count()

167

In [41]:
df.TOC.mean()

3.7707784431137727

In [42]:
df.TOC.std()

1.6258061926066227

In [43]:
df.TOC.max()

7.48

In [44]:
df.TOC.unique()

array([4.15, 4.25, 3.4 , 0.39, 3.9 , 3.95, 3.5 , 4.12, 3.61, 5.92, 3.15,
       4.68, 2.49, 1.7 , 3.49, 2.5 , 1.51, 0.83, 1.14, 1.29, 1.44, 0.49,
       0.64, 0.8 , 0.92, 0.53, 1.09, 1.12, 2.84, 2.23, 2.87, 2.17, 1.67,
       1.07, 2.34, 2.44, 2.69, 1.11, 0.97, 3.46, 3.23, 4.72, 2.57, 4.78,
       5.58, 3.2 , 6.01, 5.2 , 4.87, 4.36, 1.24, 5.15, 3.91, 4.42, 3.59,
       4.69, 3.96, 2.9 , 2.  , 3.86, 5.02, 3.35, 1.3 , 3.72, 4.53, 4.66,
       5.18, 5.76, 5.09, 2.97, 4.91, 3.89, 2.64, 4.  , 3.71, 3.38, 4.11,
       5.3 , 4.5 , 1.79, 3.79, 4.06, 3.66, 2.82, 4.61, 5.35, 4.27, 6.23,
       4.64, 5.41, 1.98, 4.62, 5.55, 3.43, 3.48, 4.85, 4.94, 4.99, 4.92,
       6.76, 5.86, 5.49, 6.81, 3.67, 6.77, 5.83, 6.69, 7.48, 7.21, 5.71,
       5.01, 4.18, 4.98, 5.1 , 5.79, 0.72, 6.31, 3.55, 6.94, 3.8 , 5.11,
       5.07, 6.73, 5.39, 2.73, 4.88, 2.67, 3.09, 4.38, 6.75, 3.94, 4.86,
       1.75, 2.83, 3.42, 4.56, 2.78, 2.91, 1.53, 2.06, 3.52, 2.47, 2.32])

In [46]:
df.TOC.value_counts()

1.70    3
3.90    3
3.95    3
3.72    3
5.09    2
       ..
6.01    1
3.20    1
5.58    1
2.57    1
2.32    1
Name: TOC, Length: 143, dtype: int64

In [47]:
df.head()

    Depth  CorrectedPorosity   TOC  Quartz  Calcite
0  6432.5               6.67  4.15    38.6      0.0
1  6434.5               6.07  4.25    48.6      6.2
2  6436.5               4.91  3.40    41.0      2.5
3  6438.5               6.00  0.39     4.6     66.4
4  6440.6               5.63  3.90    37.0      0.6

In [49]:
df.iloc[:, 2:4]

      TOC  Quartz
0    4.15    38.6
1    4.25    48.6
2    3.40    41.0
3    0.39     4.6
4    3.90    37.0
..    ...     ...
162  2.06    26.7
163  3.52    31.0
164  2.47    16.0
165  2.32    24.8
166  3.66    20.2

[167 rows x 2 columns]

In [50]:
df.iloc[:, 2:4].tail()

      TOC  Quartz
162  2.06    26.7
163  3.52    31.0
164  2.47    16.0
165  2.32    24.8
166  3.66    20.2

In [53]:
df.iloc[:, 0:1]

      Depth
0    6432.5
1    6434.5
2    6436.5
3    6438.5
4    6440.6
..      ...
162  6773.9
163  6775.1
164  6780.6
165  6782.2
166  6784.3

[167 rows x 1 columns]

In [64]:
df.loc[:, "Depth"].head()

0    6432.5
1    6434.5
2    6436.5
3    6438.5
4    6440.6
Name: Depth, dtype: float64

In [65]:
df.loc[:, ['Depth', 'Calcite']]

      Depth  Calcite
0    6432.5      0.0
1    6434.5      6.2
2    6436.5      2.5
3    6438.5     66.4
4    6440.6      0.6
..      ...      ...
162  6773.9     15.4
163  6775.1      0.0
164  6780.6      8.7
165  6782.2     19.8
166  6784.3     11.9

[167 rows x 2 columns]

In [66]:
df.loc[:, ['Depth', 'Calcite']].head()

    Depth  Calcite
0  6432.5      0.0
1  6434.5      6.2
2  6436.5      2.5
3  6438.5     66.4
4  6440.6      0.6

In [67]:
df.iloc[50:101, 0:3]

       Depth  CorrectedPorosity   TOC
50   6531.70               4.80  4.68
51   6534.00               4.38  5.20
52   6535.80               4.46  4.87
53   6538.00               4.14  4.36
54   6540.00               1.47  1.24
55   6542.10               5.88  5.15
56   6543.00               7.11  3.91
57   6544.10               6.86  4.42
58   6546.20               6.17  3.59
59   6548.30               6.31  4.69
60   6550.60               4.64  3.96
61   6552.50               5.19  2.90
62   6554.60               2.99  2.00
63   6556.80               6.15  3.86
64   6558.80               5.81  5.02
65   6560.60               5.28  3.90
66   6561.80               1.80  0.80
67   6563.60               4.51  3.35
68   6565.35               2.59  1.30
69   6567.00               5.18  3.72
70   6568.00               6.06  3.95
71   6570.30               5.89  4.53
72   6572.00               5.76  4.36
73   6573.80               4.99  4.66
74   6575.65               5.72  5.18
75   6578.80               5.12  5.76
76   6580.90               5.75  5.09
77   6583.10               4.75  2.97
78   6585.30               1.41  4.91
79   6587.00               4.48  3.89
80   6589.00               5.22  4.69
81   6591.40               4.40  2.64
82   6593.00               5.34  4.00
83   6594.60               5.54  3.71
84   6596.05               7.02  3.38
85   6598.10               6.71  4.11
86   6600.00               5.91  5.30
87   6601.40               6.08  4.50
88   6604.00               4.10  1.79
89   6606.00               4.74  3.79
90   6608.70               6.00  4.06
91   6611.00               3.40  3.66
92   6613.20               5.10  2.82
93   6615.10               4.39  3.72
94   6617.00               4.80  4.61
95   6619.00               3.54  5.35
96   6621.00               3.22  4.27
97   6623.20               4.98  4.00
98   6627.50               4.06  6.23
99   6629.30               4.40  4.64
100  6631.10               3.97  5.41

In [68]:
df.iloc[50:101, 0:3].head()

     Depth  CorrectedPorosity   TOC
50  6531.7               4.80  4.68
51  6534.0               4.38  5.20
52  6535.8               4.46  4.87
53  6538.0               4.14  4.36
54  6540.0               1.47  1.24

In [69]:
df.iloc[50:101, 0:3].tail()

      Depth  CorrectedPorosity   TOC
96   6621.0               3.22  4.27
97   6623.2               4.98  4.00
98   6627.5               4.06  6.23
99   6629.3               4.40  4.64
100  6631.1               3.97  5.41