# Lesson Outline
1. Getting Started 
2. Python Data Type (integers, strings, floats etc.)
3. Variables in Python
4. Comparison symbols and meaning
5. Data Types Extention (Numeric, Lists, Tuples, Dictionary etc.)
6. Conditional Statements (conditions and loop)
7. Some built in Functions (abs(), map(), range(), sum(), etc.)
8. Python Self defined Functions
9. Conclusion and Q & A

# INTRODUCTION

## What is Python?

### Python

Python is a general purpose programming language used to 
* build websites and softwares, 
* to automate tasks, 
* conduct data analysis etc.

It is multipurpose in that it can be used to create a variety of programs and not for specific problem. 

Python has become the most used programming language because of it versatility and user-friendliness with quite easy syntax. 


Python was created by Guido van Rossum, and released in 1991

In [1]:
# Write your first line of code

print("Hello world")

Hello world

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
# when a line of code is prefaced by '#', such is regarded as comment

# avoid this line

In [4]:
"""
This me 
and you
"""

'\nThis me \nand you\n'

In [5]:
'''
This is me and you coming from it's 
'''

"\nThis is me and you coming from it's \n"

In [6]:
print("this is me")

this is me

#### Exercise

write a line of code to print your first and last name

In [7]:
print('My name is "Golden" and "Awani" is my last name')

My name is "Golden" and "Awani" is my last name

As easy as that right?
Oh yes! Lets continue

### Getting Started
Python can be used as a calculator. simply write the expression into the code block and execute. 

Before we continue, let's note these basic rules

1. No space or tab character is allowed at the start of a statement
2. The '#' symbol before a statement, indicates that the statement in that line is a comment
3. Statement finish at the end of a line, except for special cases to be discussed later

### Mathematical Operations 

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [8]:
# Addition: It returns the sum of the values involved. e.g; 

4 + 3

7

In [9]:
"""Subtraction: It produces a result of a value being subtracted from another. 
    Usually the value after the symbol is subtracted from the one before the symbol"""

3 - 2

1

In [10]:
# Division; gives the result of a value divided by another (single forward slash division result in a float)

print(3 / 2 )

1.5

In [11]:
3 // 2 # floor division

1

In [12]:
# Modulus: It returns the remainder when a value divides another

3%2

1

In [13]:
# Multiplication: produce the result of a value multiplier by the other

3 * 2

6

In [14]:
# Floor Division: It returns the whole number only, when a value is divided by another
3 // 4

0

In [15]:
# To the power of: it raise a number to the power of its exponent.

3 ** 2

9

### Data Type
There are four major data types used in python
1. Integers (int)
2. Strings (str)
3. Floats (float)
4. Boolean (bool)

Let's consider them closely

In [16]:
 # Returns 'int'
    
type(4)

int

In [17]:
int(3.55)

3

In [18]:
type(4.5)

float

In [19]:
 # Returns 'str'

# "A" or 'A'

type("A")

str

In [20]:
# A = 2

# str(2)

In [21]:
 # Returns 'float'
    
type(3.45)

float

In [22]:
# Returns 'bool'

type(True)

bool

In [23]:
type(False)

bool

#### Data Type Conversions

In [24]:
# Converts the integer, 2, into a string

str(2)

'2'

In [25]:
 # Round up of floats
    
round(3.456, 1)

3.5

In [26]:
from math import floor, ceil

In [27]:
ceil(1.1)

2

In [28]:
 # converts the integer '8' to a float

float(8)

8.0

### Variables 
Varables are containers for storing a data value. It is usually created when a value is first assigned to it. 
Varibles consists of two important parameters.
1. Variable Names: Used to denote the variable which bears the value.
2. Variable Value: It is the parameter assigned to the variable name.

In [29]:
name = "Precious"

Age = 18

In [30]:
print(name)

Precious

Variables are useful because you can work with them other than calling the values frquently. Although these variables could always be over-written and re-assigned to another variable name.

Variables names are usually short and simple, although they most times preferred to be more descriptive in other to represent the value being assigned. Example: Entering a person's first name, could carry the variable name, first_name or F_name, for ease of understanding.

Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [31]:
age = 3

In [32]:
Age = '45'

In [33]:
agA = '2'

### Comparisons

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

Note the difference between `==` (equality test) and `=` (assignment)

In [1]:
# To check if x is greater than 3

x = 2

print(x > 3)

False

In [2]:
# Check if x is greater or equal to 3

print(x >= 3)

False

In [3]:
 # Check if x is not equal to 3
    
print(x != 3)

True

In [4]:
# To test if x is equal 4

print(x == 4)

False

In [5]:
# tO Check if x is less than 4

print(x < 4)

True

### Data Types Extension
In programming data can be stored in several forms order than the afore-mentioned major data type. The other data types include;
* Numeric Data Type: complex
* Sequence Data Type: List, Tuple, Range
* Mapping Data Type: Dictionaries (dict)

Note: For now you are expected to know how to create, add, remove, and get item.

In [7]:
# Numeric Data Type: complex

type(3 + 3j)

complex

In [27]:
# Tuple: It is a sequencial data type which contains several datapoints of different data types. it is enclosed in a brace

days = ('Monday', 'Tuesday', 'Wednesday', 'Monday')

In [33]:
num = ('Sat',)

new_tup = days + num

In [34]:
print(new_tup)

('Monday', 'Tuesday', 'Wednesday', 'Monday', 'Sat')

#### Index Operations

In [35]:
new_tup[0:2]

('Monday', 'Tuesday')

In [43]:
# Lists

student_ages = [16, 18, 19, 10, 90, 13, 'Precios']

type(student_ages)

list

In [44]:
len(student_ages)

7

In [45]:
student_ages.append(18)

In [46]:
student_ages

[16, 18, 19, 10, 90, 13, 'Precios', 18]

In [47]:
student_ages[6]

'Precios'

In [48]:
student_ages.remove('Precios')

In [49]:
student_ages

[16, 18, 19, 10, 90, 13, 18]

In [45]:
# get last item

In [51]:
student_ages.pop()

18

In [52]:
student_ages

[16, 18, 19, 10, 90, 13]

In [54]:
student_ages.pop(4)

90

In [56]:
student_ages

[16, 18, 19, 10, 13]

In [57]:
thirteen = student_ages.pop()

In [58]:
thirteen

13

In [59]:
student_ages

[16, 18, 19, 10]

In [61]:
del(student_ages[1])

In [63]:
student_ages

[16, 19, 10]

In [69]:
student_ages.reverse()

In [70]:
student_ages

[19, 16, 10]

In [71]:
names = ['Zelan', 'Jenny', 'Elder', 'Declan']

In [73]:
names.sort()

In [74]:
names

['Declan', 'Elder', 'Jenny', 'Zelan']

In [75]:
names.reverse()

In [76]:
names

['Zelan', 'Jenny', 'Elder', 'Declan']

In [98]:
# Dictionary(dict): it is one of the important data type in python that has keys and names, separated by a colon. Enclosed in a curly bracket

new_dict = {'fName': 'Ebenezer', 
            'lName': 'Aniyom', 
            'Height': '17.6cm'}

In [99]:
new_dict

{'fName': 'Ebenezer', 'lName': 'Aniyom', 'Height': '17.6cm'}

In [100]:
new_dict.keys()

dict_keys(['fName', 'lName', 'Height'])

In [101]:
new_dict.values()

dict_values(['Ebenezer', 'Aniyom', '17.6cm'])

In [103]:
# Sets: They are ordered data type using in storing dataset of different types

set1 = {2, 3, 2, 4, 5, 5}

In [104]:
set1

{2, 3, 4, 5}

## Exercise on Variables and Data Type to be submitted in next class

1. Write your first program and have it print Hello World!.
2. Write a program that shows the three major types of data
3. Write a program to test the following statements;
    * Given that a variable a value 20 and another variable is 20.5, which variable is greater??
    * Is the letter "q" present in the word "question"
4. Write a program that shows the extended data typed examples.

In [105]:
# Write your first program and have it print Hello World!.

print('Hello World')

Hello World

### Conditional Statement or Control Flow Statement
Decision-making in a programming language is automated using conditional statements, in which Python evaluates the code to see if it meets the specified conditions.
Conditional Statements are processed using the True or False statements

#### Python 
1. if Statement
2. For Statement
3. While Statement

# NUMPY

In [ ]:
import numpy as np

In [13]:
list = list((1, 2, 3, 4))
type(list)

TypeError: 'list' object is not callable

In [9]:
list(range(1, 6))

TypeError: 'list' object is not callable

In [20]:
import numpy as np

In [29]:
x = np.arange(0, 11, step=0.5)
print(x)

[ 0.   0.5  1.   1.5  2.   2.5  3.   3.5  4.   4.5  5.   5.5  6.   6.5
  7.   7.5  8.   8.5  9.   9.5 10.  10.5]

In [28]:
x = np.linspace(0, 15, 10)
print(x)

[ 0.          1.66666667  3.33333333  5.          6.66666667  8.33333333
 10.         11.66666667 13.33333333 15.        ]

In [27]:
x = np.arange(1, 101)
print(x)
print()
fifthieth_percentile = np.
x

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [37]:
x = np.random.randint(1, 9, 7)
print(x)

[7 5 2 7 1 2 5]